/adhoc_app/nbproject/private/
/adhoc_app/build/
/adhoc_app/dist/
/serverTest/nbproject/private/
/serverTest/build/
/serverTest/dist/
/clientTest/nbproject/private/
/clientTest/build/
/clientTest/dist/
/multicastListener/nbproject/private/
/multicastListener/dist/
/multicastListener/build/
/multicastSender/nbproject/private/
/multicastSender/dist/
/multicastSender/build/